<html>
<head>
    [@ui.header pageKey="Bamboo Plan Comments" title=true /]
     
     <meta name="tab" content="plancomments">  
</head>
<body>
<br>
<h1>Plan Comments</h1>
<br><br>
<div style="width: 700px">
    ${commentHtml}
</div>
<br>
<br>

</body>
</html>